/*
Sintaxis 
*/

/* regla de estilo (rule) */

/*
selector
{
    propiedad1: valor; 
    propiedad2: valor;
}
*/

* {
  box-sizing: border-box;
}

/*IMPORATAR FUNTE*/
@font-face {
  font-family: Poppins;
  src: url(./fuentes/Poppins-ExtraBold.ttf);
}


/*SELECTOR UNIVERSAL*/

/* outline: 1px coral; */


/* selectores de TIPO  (nombre de la etiqueta)*/
html,
body {
  margin: 0;

}

html {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #fffb00ec;
}

header {
  background-color: #D4AF37;
}

a {
  color: #333333;
  text-decoration: none;
}

/* selector de clase */

/* .vinculos
{
  color: #000000;
} */


.vinculos a {
  color: #000000;
}

.encabezado-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(74, 77, 240);
  padding: 5px;
}

.encabezado-principal a img {
  width: 50px;
}

/*Contenido Princiapl*/
.contenido-principal img{
  width: 50px;
}

.contenido-principal .contenedor-form{
 padding: 50px;
}

.contenido-principal .contenedor-form form {
  display: flex;
  flex-direction: column;
}

/*PIE PRINCIPAL*/
.pie-principal {
  padding: 2px 1%;
background-color: rgb(74, 77, 240)}

/*ATRIBUTO*/
/*[href]{}*/

/* #contactos 
{

}*/